{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}
<a class="hover:text-blue-500" href="{% url 'agents:list' %}">Go back to agents</a>
<div class="max-w-lg mx-auto w-full">
    <div class="py-5 border-t border-gray-200">
        <h1 class="text-4xl text-gray-800">Create a new Agent</h1>
        <p class="text-sm text-gray-600 mt-2">Add an agent to your organization so they can be assigned leads and track conversations.</p>
    </div>
    
    <form method="post" class="mt-5">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md" type="submit">Submit</button>
    </form>

</div>
{% endblock content %}